<div class="navbar-wagon navbar-wagon-fixed">
  <!-- Tabs -->
  <% if user_signed_in? %>
    <div class="navbar-wagon-tabs">
      <div class="navbar-wagon-tab <%= yield(:title_tag_for_received) %>">
        <%= link_to requests_received_path do %>
          <div class="badge-container">
            <i class="material-icons">mail_outline</i>
            <% unless current_user.receivers.pending.size.zero? %>
              <div class="badge badge-red">
                <%= current_user.receivers.pending.size %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="navbar-wagon-tab <%= yield(:title_tag_for_sent) %>">
        <%= link_to requests_sent_path do %>
          <div class="badge-container">
            <i class="material-icons">open_in_new</i>
          </div>
        <% end %>
      </div>
    </div>
  <% else %>
    <div></div>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <!-- Different navigation if login or not -->
    <% if user_signed_in? %>

      <!-- Profile picture and dropdown -->
      <div class="navbar-wagon-item">
        <div class="dropdown navbar-avatar-height">
          <% if current_user.photo.url %>
            <%= image_tag current_user.photo.url(:navbar_face), class: "avatar dropdown-toggle", "data-toggle" => "dropdown" %>
          <% else %>
            <i class="avatar navbar-avatar dropdown-toggle material-icons" data-toggle="dropdown">account_circle</i>
          <% end %>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
              <%= link_to profile_path do %>
                <i class="material-icons">account_circle</i><%= t(".profile") %>
              <% end %>
            </li>
            <li>
              <%#= link_to "#" do %>
                <!-- <i class="material-icons">settings</i>  <%= t(".settings") %> -->
              <%# end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="material-icons">not_interested</i><%= t(".sign_out") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>

    <% else %>

      <!-- Login text link -->
      <%= link_to t(".sign_in"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>

    <% end %>

  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item-mobile hidden-md hidden-lg">
    <% if user_signed_in? %>
      <div class="dropdown">
        <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li>
            <%= link_to profile_path do %>
              <i class="material-icons">account_circle</i><%= t(".profile") %>
            <% end %>
          </li>
          <li>
            <%= link_to destroy_user_session_path, method: :delete do %>
              <i class="material-icons">not_interested</i><%= t(".sign_out") %>
            <% end %>
          </li>
        </ul>
      </div>
    <% else %>
      <%= link_to t(".sign_in"), new_user_session_path, class: "navbar-wagon-item-mobile navbar-wagon-link" %>
    <% end %>
  </div>
</div>

