<div class="container">
  <div class="row">
    <div class="col-md-offset-3 col-md-6">
      <%= simple_form_for @request do |f| %>
        <%= f.input :content %>
        <%= f.input :duedate %>
        <%= f.association :users, as: :check_boxes, label: 'Receivers' %>
        <%= f.submit 'Create a request', class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>
