<div class="container">
  <div class="row">
    <div class="col-md-offset-1 col-md-10">
      <%= render 'request_card', request: @request %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-offset-1 col-md-10">
      <% @request.comments.each do |comment| %>
        <%= render 'comment', comment: comment %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-offset-1 col-md-10">
      <div class="comment">
        <div class="comment-left"></div>
        <div class="comment-right">
          <div class="comment-right-content">
            <% if policy(Comment).create? %>
              <%= simple_form_for [@request, @comment] do |f| %>
                <%= f.input :content, label: 'Comment' %>
                <%= f.submit 'Create a comment', class: 'btn btn-primary' %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
