<div class="card">
  <div class="card-left-part">
    <div class="card-left-header">
      <div class="label">
        <div class="card-left-label label <%= card_status_class request.status %>">
          <%= request.status_i18n %>
        </div>
      </div>
      <div>
        <h4><%= request.title %></h4>
      </div>
    </div>
    <div class="card-left-content">
      <%= auto_link(simple_format(request.content), html: { target: '_blank' }, link: :urls) %>
    </div>
    <div class="card-left-bottom-row-dummy"></div>
    <div class="card-left-bottom-row">
      <div class="card-left-bottom-button-space"></div>
      <div class="card-left-bottom-button"></div>
      <div class="card-left-bottom-button-space"></div>
      <div class="card-left-bottom-button"></div>
      <div class="card-left-bottom-button-space"></div>
      <%= link_to t('.comment'), request, class: "card-left-bottom-button btn btn-primary btn-block" %>
      <div class="card-left-bottom-button-space"></div>
      <% if request.canceled? %>
        <% if policy(request).destroy? %>
          <%= link_to t('.delete'), request, method: :delete, class: "card-left-bottom-button btn btn-info btn-block", data: { confirm: t('.delete_confirmation') } %>
        <% end %>
      <% else %>
        <% if policy(request).cancel? %>
          <%= link_to t('.cancel'), cancel_request_path(request), method: :patch, class: "card-left-bottom-button btn btn-info btn-block" %>
        <% end %>
      <% end %>
      <div class="card-left-bottom-button-space"></div>
    </div>
  </div>

  <div class="card-right-part">
    <div class="card-date">
      <h5><%= t('.due_date') %></h5>
      <p><%= l(request.duedate, format: :short) %></p>
    </div>
    <% unless request.user == current_user %>
      <div class="card-creator">
        <h5><%= t('.creator') %></h5>
        <p><%= request.user.name %></p>
      </div>
    <% end %>
    <div class="card-receivers">
      <h5><%= t('.receivers') %></h5>
    </div>
    <div class="card-receiver-list">
      <% request.receivers.each do |receiver| %>
        <div class="card-receiver-name">
          <p><%= receiver.user.name %></p>
          <div class="img-circle <%= receiver.status %>">
            <i class="material-icons"><%= receiver_status_mi receiver.status %></i>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
