<div class="card">
  <div class="card-left-part">
    <div class="card-left-header">
      <h4>
        <span class="card-left-label label <%= card_status_class request.status %>">
          <%= request.status.capitalize %>
        </span>
        <%= request.content %>
      </h4>
    </div>
    <div class="card-left-bottom-row">
      <div class="card-left-bottom-button-space"></div>
      <div class="card-left-bottom-button"></div>
      <div class="card-left-bottom-button-space"></div>
      <div class="card-left-bottom-button"></div>
      <div class="card-left-bottom-button-space"></div>
      <%= link_to 'Comment', request, class: "card-left-bottom-button btn btn-primary btn-block" %>
      <div class="card-left-bottom-button-space"></div>
      <% if request.canceled? %>
        <%= link_to 'Delete', request, method: :delete, class: "card-left-bottom-button btn btn-info btn-block", data: { confirm: 'Are you sure?' } %>
      <% else %>
        <%= link_to 'Cancel', cancel_request_path(request), method: :patch, class: "card-left-bottom-button btn btn-info btn-block" %>
      <% end %>
      <div class="card-left-bottom-button-space"></div>
    </div>
  </div>

  <div class="card-right-part">
    <div class="card-date">
      <h5>Due Date</h5>
      <p><%= request.duedate %></p>
    </div>
    <% unless request.user == current_user %>
      <div class="card-creator">
        <h5>Creator</h5>
        <p><%= request.user.name %></p>
      </div>
    <% end %>
    <div class="card-receivers">
      <h5>Receivers</h5>
    </div>
    <div class="card-receiver-list">
      <% request.receivers.each do |receiver| %>
        <div class="card-receiver-name">
          <p><%= receiver.user.name %></p>
          <div class="img-circle <%= receiver.status %>">
            <i class="material-icons"><%= receiver_status_mi receiver.status %></i>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
