<div class="container">
  <% @requests.each do |request| %>
    <div class="row">
      <div class="col-md-offset-1 col-md-10">
        <div class="card">
          <div class="card-left-part">
            <p>
              <span class="card-left-first-row">
                <%= request.content %>
              </span>
            </p>
            <div class="card-left-bottom-row">
              <div class="card-left-bottom-button">
                <% if request.status == 'accepted' %>
                  <div class="btn btn-success btn-block">
                    Close
                  </div>
                <% else %>
                  <div class="btn btn-info btn-block">
                    Close
                  </div>
                <% end %>
              </div>
            </div>
          </div>

          <div class="card-right-part">
            <div class="card-date">
              <h5>Due Date</h5>
              <p><%= request.duedate %></p>
            </div>
            <% unless request.user == current_user %>
              <div class="card-creator">
                <h5>Creator</h5>
                <p><%= request.user.name %></p>
              </div>
            <% end %>
            <div class="card-receivers">
              <h5>Receivers</h5>
            </div>
            <div class="card-receiver-list">
              <% request.receivers.each do |receiver| %>
                <div class="card-receiver-name">
                  <p><%= receiver.user.name %></p>
                  <div class="img-circle <%= receiver.status %>">
                    <i class="material-icons"><%= receiver_status_mi receiver.status %></i>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
